body {
    text-align: center;
}

#search {
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.085);
    padding: 8px 20px;
    padding-right: 36px;
    width: 60%;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 2%;
    transition: background-color 0.3s;
    transition-delay: 0.1s;
}

#search:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

#search:focus {
    transition: background-color 0s;
    background-color: rgb(255, 255, 255);
    outline: solid rgb(0, 115, 255) 2px;
}

.search i {
    padding: 4px;
    color: black;
    font-size: 24px;
    vertical-align: sub;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
    transition-delay: 0.1s;
}

.search i:hover {
    background-color: rgba(0, 0, 0, 0.067);
}

.search i:active {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.122);
}

#cancel {
    font-size: 21px;
    padding: 2px 6px;
    position: relative;
    right: 45px;
    bottom: 1px;
}

.edit-panel {
    padding: auto;
    width: 70%;
    position: absolute;
    top: 9%;
    left: 94%;
    border-radius: 10px;
    padding: 4% 7%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.105),
        -2px 2px 5px rgba(0, 0, 0, 0.105),
        2px -2px 5px rgba(0, 0, 0, 0.105),
        -2px -2px 5px rgba(0, 0, 0, 0.105);
}

.img-params[type="range"] {
    -webkit-appearance: none;
    width: 70%;
    height: .5vw;
    border: solid black 0px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background-image: linear-gradient(#ff4400, #c83500);
    transition: all .05s;
    margin: 5% 1%;
}

.img-params[type="range"]:hover {
    height: 1vw;
    transition: all .3s;
    box-shadow: 1px 1px 7px rgba(129, 41, 0, 0.189), 
        1px -1px 7px rgba(129, 41, 0, 0.189), 
        -1px 1px 7px rgba(129, 41, 0, 0.189),
        -1px -1px 7px rgba(129, 41, 0, 0.189);
}

.img-params[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: .8vw;
    width: .8vw;
    border-radius: 50%;
    background: #a72d00;
    box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.11);
}

.img-params[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.formatBarImg {
    padding: 0.5%;
    width: 3%;
    background-color: white;
    border-radius: 4px;
}

.formatBarImg:hover {
    background-color: rgba(0, 0, 0, 0.042);
}

.formatBarImg:active {
    background-color: rgba(0, 0, 0, 0.152);
}

.formatBar {
    margin-right: 2.5%;
}

.formatBar input[type="color"] {
    position: absolute;
}


.upload-img {
    width: 25%;
    margin: 4% 20%;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.img-container {
    display: inline-block;
    width: 60%;
    height: 6vw;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-bottom: 2%;
}

.img-container:hover {
    background-color: rgba(0, 0, 0, 0.081);
}

.show-range-value {
    top: 0px;
    left: 0px;
    position: fixed;
    font-size: 6vw;
    width: 100%;
    height: 100%;
    z-index: 9999;
    color: rgba(255, 255, 255, 0.526);
    background-color: #0000004d;
    font-family: Helvetica, sans-serif;
    transition: opacity 0.3s;
}

.uploaded-img-container {
    max-height: 300px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.105),
        -2px 2px 5px rgba(0, 0, 0, 0.105),
        2px -2px 5px rgba(0, 0, 0, 0.105),
        -2px -2px 5px rgba(0, 0, 0, 0.105);
}

.edit-button {
    width: 4%;
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 0.6%;
    border-radius: 0.3vw;
    transition: all 0.5s;
}

.edit-button:hover {
    background-color: rgba(0, 0, 0, 0.105);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.105),
        -2px 2px 5px rgba(0, 0, 0, 0.105),
        2px -2px 5px rgba(0, 0, 0, 0.105),
        -2px -2px 5px rgba(0, 0, 0, 0.105);
}

.selected-color {
    position: absolute;
    bottom: 22%;
    left: 11.9%;
    background-color: black;
    width: 4.4%;
    height: 0.2vw;
}

.formatBar .selected-color {
    position: absolute;
    bottom: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    width: 50%;
    height: 0.2vw;
    transition: all 0.2s;
}

.formatBar .selected-color:hover {
    width: 82%;
}

textarea {
    resize: none;
}

.code-container {
    position: relative;
    height: 250px;
}

.code-container .code {
    font-family: 'Arial', 'Verdana', sans-serif;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 4%;
    text-align: left;
    width: 48%;
    height: 100%;
    overflow: auto;
    cursor: auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.105),
    -2px 2px 3px rgba(0, 0, 0, 0.105),
    2px -2px 3px rgba(0, 0, 0, 0.105),
    -2px -2px 3px rgba(0, 0, 0, 0.105);
    font-size: 1.4vw;
}

.code-container .exclamation {
    position: absolute;
    width: 1.5%;
    bottom: 4px;
    left: 4px;
}

.code-container .exclamation-text {
    position: absolute;
    bottom: 4px;
    left: 2.5%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.105),
    -1px 1px 2px rgba(0, 0, 0, 0.105),
    1px -1px 2px rgba(0, 0, 0, 0.105),
    -1px -1px 2px rgba(0, 0, 0, 0.105);
    padding: 0.5%;
    max-width: 30%;
}

.win-modalWin_ .textarea {
    font-family: 'Arial', 'Verdana', sans-serif;
    outline: none;
    border: none;
    padding: 1.2% 3%;
    margin: 0 15%;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 5%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    max-height: 200px;
    cursor: auto;
}

.win-modalWin_ .textarea:focus {
    background-color: rgba(0, 0, 0, 0.04);
}

.pretty-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.pretty-scroll::-webkit-scrollbar-track {
    border-radius: 1px;
    opacity: 0;
}

.pretty-scroll::-webkit-scrollbar-track:hover {
    background: rgb(237, 237, 237);
    box-shadow: inset 1px 1px 0 rgb(216, 216, 216);
}

/* Handle */
.pretty-scroll::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(210, 210, 210);
    box-shadow: inset 1px -1px rgb(195, 195, 195); 
}

/* Handle on hover */
.pretty-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170);
    box-shadow: inset 1px -1px rgb(157, 157, 157);
}

.pretty-scroll::-webkit-scrollbar-thumb:active {
    background: rgb(132, 132, 132);
    box-shadow: inset 1px -1px rgb(115, 115, 115);
}

.unselectable, button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;       
}

.selectable {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all;   /* Chrome/Safari/Opera */
    -khtml-user-select: all;    /* Konqueror */
    -moz-user-select: all;      /* Firefox */
    -ms-user-select: all;       /* Internet Explorer/Edge */
    user-select: all;
}



.shake {
    -webkit-animation: 0.1s tremor ease-out infinite;
    animation: 0.1s tremor ease-out infinite;
}

.shake::placeholder {
    color: rgba(255, 0, 0, 0.6);
}

@-webkit-keyframes tremor {
    0%, 25% {
        left: -1px;
        top:-1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        top: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@-moz-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@-ms-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@-o-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}