body {
    text-align: center;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    transition: all 3.3s;
}

.search-container {
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    height: 60px;
    box-sizing: border-box;
    position: absolute;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    border-bottom: solid 1px rgba(0, 0, 0, 0.101);
}

.search {
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
}

#search {
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.085);
    padding: 7px 34px;
    padding-right: 38px;
    width: 60%;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 2%;
    transition: background-color 0.3s;
    transition-delay: 0.1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

#search:focus {
    transition: background-color 0s;
    background-color: rgb(255, 255, 255);
    outline: solid rgb(0, 115, 255) 2px;
}

.search i {
    padding: .2vw;
    color: black;
    vertical-align: sub;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
    transition-delay: 0.1s;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    z-index: 2;

    font-size: 24px;
}

.search i:hover {
    background-color: rgba(0, 0, 0, 0.067);
}

.search i:active {
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.122);
}

#cancel, #search-icon {
    color: rgb(75, 75, 75);
    font-size: 17px;
}

#cancel {
    right: 20.8%;
}

#search-icon {
    left: 20.8%;
}

#create-elem {
    left: 17.5%;
}

#menu {
    padding: .6vw;
    font-size: 2vw;
    left: 1%;
}



.edit-panel {
    padding: auto;
    width: 70%;
    position: absolute;
    top: 9%;
    left: 94%;
    border-radius: 10px;
    padding: 4% 7%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.105),
        -2px 2px 5px rgba(0, 0, 0, 0.105),
        2px -2px 5px rgba(0, 0, 0, 0.105),
        -2px -2px 5px rgba(0, 0, 0, 0.105);
}

.img-params[type="range"] {
    -webkit-appearance: none;
    width: 70%;
    height: .5vw;
    border: solid black 0px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background-image: linear-gradient(#ff4400, #c83500);
    transition: all .05s;
    margin: 5% 1%;
}

.img-params[type="range"]:hover {
    height: 1vw;
    transition: all .3s;
    box-shadow: 1px 1px 7px rgba(129, 41, 0, 0.189), 
        1px -1px 7px rgba(129, 41, 0, 0.189), 
        -1px 1px 7px rgba(129, 41, 0, 0.189),
        -1px -1px 7px rgba(129, 41, 0, 0.189);
}

.img-params[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: .8vw;
    width: .8vw;
    border-radius: 50%;
    background: #a72d00;
    box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.11);
}

.img-params[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.format-bar-img {
    width: 100%;
}

/* .formatBarImg:hover {
    background-color: rgba(0, 0, 0, 0.042);
} */

/* .formatBarImg:active {
    background-color: rgba(0, 0, 0, 0.152);
} */

.format-bar-container {
    padding: 0.5%;
    width: 3%;
    /* background-color: white; */
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 2.5%;
}

.format-bar-container:hover {
    background-color: rgba(0, 0, 0, 0.042);
}

.format-bar-container:active {
    background-color: rgba(0, 0, 0, 0.152);
}

.format-bar-container input[type="color"] {
    position: absolute;
}


.upload-img {
    width: 25%;
    margin: 4% 20%;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.img-container {
    display: inline-block;
    width: 60%;
    height: 6vw;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-bottom: 2%;
}

.img-container:hover {
    background-color: rgba(0, 0, 0, 0.081);
}

.show-range-value {
    top: 0px;
    left: 0px;
    position: fixed;
    font-size: 6vw;
    width: 100%;
    height: 100%;
    z-index: 9999;
    color: rgba(255, 255, 255, 0.526);
    background-color: #0000004d;
    font-family: Helvetica, sans-serif;
    transition: opacity 0.3s;
}

.uploaded-img-container {
    max-height: 300px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.105),
        -2px 2px 5px rgba(0, 0, 0, 0.105),
        2px -2px 5px rgba(0, 0, 0, 0.105),
        -2px -2px 5px rgba(0, 0, 0, 0.105);
}

.edit-button {
    width: 4%;
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 0.6%;
    border-radius: 0.3vw;
    transition: all 0.5s;
}

.edit-button:hover {
    background-color: rgba(0, 0, 0, 0.105);
}

.selected-color {
    position: absolute;
    bottom: 22%;
    left: 11.9%;
    background-color: black;
    width: 4.4%;
    height: 0.2vw;
}

.format-bar-container .selected-color {
    position: absolute;
    bottom: 15%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    width: 50%;
    height: 0.2vw;
    transition: all 0.2s;
}

.format-bar-container .selected-color:hover {
    width: 82%;
}

textarea {
    resize: none;
}

.code-container {
    position: relative;
    height: 250px;
}

.code-container .code {
    font-family: 'Arial', 'Verdana', sans-serif;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 4%;
    text-align: left;
    width: 48%;
    height: 100%;
    overflow: auto;
    cursor: auto;
    font-size: 1.4vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.105),
        -2px 2px 3px rgba(0, 0, 0, 0.105),
        2px -2px 3px rgba(0, 0, 0, 0.105),
        -2px -2px 3px rgba(0, 0, 0, 0.105);
}

.code-container .exclamation {
    position: absolute;
    width: 1.5%;
    bottom: 4px;
    left: 4px;
}

.code-container .exclamation-text {
    position: absolute;
    bottom: 4px;
    left: 2.5%;
    border-radius: 10px;
    padding: 0.5%;
    max-width: 30%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.105),
        -1px 1px 2px rgba(0, 0, 0, 0.105),
        1px -1px 2px rgba(0, 0, 0, 0.105),
        -1px -1px 2px rgba(0, 0, 0, 0.105);
}

.notes {
    margin-top: 70px;
    margin-bottom: 10%;
    margin-left: 4%;
    transition: margin-left .4s;
    width: 70%;
    margin-left: 14%;
}


.note {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    margin-bottom: 20px;
    /* float: left; */
    border-radius: 0.5vw;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: solid rgba(0, 0, 0, 0.136) 1px;
    transition: box-shadow .25s, background-color .6s;
    position: relative;
    break-inside: avoid;
    width: 100%;
}

.note:hover {
    box-shadow: 1px 1px 4px rgba(64, 64, 64, 0.1),
        -1px 1px 4px rgba(64, 64, 64, 0.1),
        1px -1px 4px rgba(64, 64, 64, 0.1),
        -1px -1px 4px rgba(64, 64, 64, 0.1);
}

.note *:not(.note-img) {
    margin: 3%;
    max-width: 95%;
}

.note-img {
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    width: 100%;
    margin-bottom: 3%;
}

.note-title {
    padding: 0px 14px;
    font-weight: 500;
    font-size: 18px;
}

.note-data {
    font-size: 15px;
    max-height: 500px;
    overflow-y: hidden;
}

.note-color-picker {
    position: absolute;
    transform: translate(-50%, -10%);
    background-color: white;
    padding: 4px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 1px 4px rgba(64, 64, 64, 0.1),
        -1px 1px 4px rgba(64, 64, 64, 0.1),
        1px -1px 4px rgba(64, 64, 64, 0.1),
        -1px -1px 4px rgba(64, 64, 64, 0.1);
}

.note-color {
    display: inline-block;
    margin: 0px 6px;
    border-radius: 70px;
    width: 25px;
    height: 25px;
    box-shadow: 1px 1px 4px rgba(64, 64, 64, 0.067),
        -1px 1px 4px rgba(64, 64, 64, 0.067),
        1px -1px 4px rgba(64, 64, 64, 0.067),
        -1px -1px 4px rgba(64, 64, 64, 0.067);
}

.note-color:hover {
    outline: solid rgba(0, 0, 0, 0.525) 1px;
}

.note-color.selected {
    outline: solid rgb(195, 28, 255) 2px;
}

.show-note {
    overflow-wrap: break-word;
}

.show-note * {
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.show-note-container {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.show-note-container img {
    opacity: .7;
    width: 100%;
    height: 430px;
}

.show-note-container div {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(228, 228, 228);
    color: linear-gradient(white, black);
    text-shadow: 2px 2px 4px rgba(29, 29, 29, 0),
        -2px 2px 4px rgba(29, 29, 29, 0.8),
        2px -2px 4px rgba(29, 29, 29, 0),
        -2px -2px 4px rgba(29, 29, 29, 0.8);
}

#prompt {
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    border-radius: .3vw;
    background-color: #070707;
    opacity: .7;
    color: white;
    padding: 3px 6px;
    position: absolute;
    display: block;
    min-width: 10px;
    z-index: 1000;
}

.menu {
    float: left;
    position: fixed;
    top: 0px;
    transition: width .4s;
    height: 100vh;
    width: 4%;
}

.menu > div {
    display: flex;
    align-items: center;
    text-align: left;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(255, 255, 0, 0.141);
    padding: 10px 0px;
    width: 92%;
    transition: all .3s;
    position: relative;
}

.menu > div:hover {
    background-color: rgba(255, 255, 0, 0.284);
    width: 100%;
}

.menu .description {
    display: none;
    margin-left: 20%;
    font-family: Roboto, Arial, sans-serif;
}

.menu img {
    padding-left: 10px;
    width: 25px;
}

.menu > *:first-child {
    margin-top: 70px;
}

@media screen and (min-width: 500px) {
    .notes {
        column-count: 2;
        column-gap: 20px;
        column-width: 160px;
    }
}

@media screen and (min-width: 720px) {
    .notes {
        column-count: 3;
        column-width: 205px;
    }
}

@media screen and (min-width: 950px) {
    .notes {
        column-count: 4;
    }
}

.note-control {
    opacity: 0;
    transition: opacity .3s;
    text-align: center;
}

.note-control img {
    width: 7%;
    padding: 1%;
    border-radius: 5px;
    transition: opacity .3s;
}

.note-control img:hover {
    background-color: rgba(0, 0, 0, 0.184);
}

.note-control.important-mark {
    opacity: .94;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s size-change ease-out infinite;
    color: red;
    font-family: 'Varela Round', 'sans-serif';
    text-shadow: none;
    margin: 0px;
    padding: 0px;
    border-radius: 30px;
}

.note-control.important {
    position: absolute;
    top: 0px;
    right: 0px;
    /* float: right; */
    border-radius: 50px;
    color: black;
    width: 7%;
}


@keyframes size-change {
    0% {
        /* font-size: 40px; */
        height: max(50px, 10%);
    }

    50% {
        /* box-shadow: 0px 0px 20px rgb(255, 0, 0);
        background-color: rgba(255, 0, 0, 0.589); */
        filter: drop-shadow(0 0 0.75rem crimson);

        height: max(105px, 25%);
    }

    100% {
        /* font-size: 40px;
        text-shadow: none; */
        height: max(50px, 10%);
    }

}


/* .menu:hover {
    width: 50vw;
} */

.win-modalWin_ .textarea {
    outline: none;
    border: none;
    padding: 1.2% 3%;
    margin: 0 15%;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 5%;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    max-height: 200px;
    cursor: auto;
}

.win-modalWin_ .textarea:focus {
    background-color: rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1px;
    opacity: 0;
    background: rgb(237, 237, 237);
    box-shadow: inset 1px 1px 0 rgb(216, 216, 216);
}

/* ::-webkit-scrollbar-track:hover {
    background: rgb(237, 237, 237);
    box-shadow: inset 1px 1px 0 rgb(216, 216, 216);
} */

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(210, 210, 210);
    box-shadow: inset 1px -1px rgb(195, 195, 195);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170);
    box-shadow: inset 1px -1px rgb(157, 157, 157);
}

::-webkit-scrollbar-thumb:active {
    background: rgb(132, 132, 132);
    box-shadow: inset 1px -1px rgb(115, 115, 115);
}


.pretty-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.pretty-scroll::-webkit-scrollbar-track {
    border-radius: 1px;
    opacity: 0;
}

.pretty-scroll::-webkit-scrollbar-track:hover {
    background: rgb(237, 237, 237);
    box-shadow: inset 1px 1px 0 rgb(216, 216, 216);
}

/* Handle */
.pretty-scroll::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(210, 210, 210);
    box-shadow: inset 1px -1px rgb(195, 195, 195); 
}

/* Handle on hover */
.pretty-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170);
    box-shadow: inset 1px -1px rgb(157, 157, 157);
}

.pretty-scroll::-webkit-scrollbar-thumb:active {
    background: rgb(132, 132, 132);
    box-shadow: inset 1px -1px rgb(115, 115, 115);
}


.unselectable, button {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;       
}

.selectable {
    -webkit-touch-callout: all; /* iOS Safari */
    -webkit-user-select: all;   /* Chrome/Safari/Opera */
    -khtml-user-select: all;    /* Konqueror */
    -moz-user-select: all;      /* Firefox */
    -ms-user-select: all;       /* Internet Explorer/Edge */
    user-select: all;
}



.shake {
    -webkit-animation: 0.1s tremor ease-out infinite;
    animation: 0.1s tremor ease-out infinite;
}

.shake::placeholder {
    color: rgba(255, 0, 0, 0.6);
}

@-webkit-keyframes tremor {
    0%, 25% {
        left: -1px;
        top:-1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        top: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@-moz-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@-ms-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@-o-keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}

@keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-2%);
        transform: translateX(-2%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(2%);
        transform: translateX(2%);
    }
}